read_server="https://mate:matesw@mate-nvsdemo.cisco.com:8443"
write_server="https://admin:cariden@127.0.0.1:8443"
props_file=/tmp/props.txt
reportsdef_file=/tmp/reports.txt
definition_id=32
explore_filter='ActualPath(AP_HK_BB1|ae0.0)'
time_series_keys='AM_LA_BB2|TenGigE0/2/2'
time_series_date1=130719_0000_UTC
time_series_date2=130719_0200_UTC
job_id=17
